/*****--   COLORES standar------------

red   #ff0000
green   #00ff00
cyan    #00ffff
yellow    #ffff00
orange #ffb380 

------------------------**/

#footer1, #footer2 {
    background: yellow;
    height: 50px;
    text-align: center;
    }
#primero,#segundo,#tercero {
    font-size: 60px;
    height: 150px;
    }

#primero {
    background: red;
    
}
#segundo {
    background: cyan;
    text-align: center;
}
#tercero {
    background: red;
    text-align: right;
}
#header {
    background: orange;
    height: 50px;
    text-align: center;

}


@media (min-width:576px) {
    #segundo {
        background:red; 
        text-align: right; 
    }
    #tercero {
        background:green;
        text-align: center;
    }
    #header {
        background: cyan; 
        text-align: left; 
    }
}
@media (min-width:756px) {
    #header {
        background: green;  
    }
    #primero,#segundo,#tercero {
        height: 350px;
        font-size: 80px;
        text-align: center;
        }
    
    #tercero {
        background: red; 
        
    }
    #footer1 {
        text-align: right;
    }
    #footer2 {
        text-align: left;
    }
}
